.ball-container {
  background: white;
  height: 50%;
  width: 50%;
  margin: 5% auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.ball {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  justify-content: center;
  display: flex;
}

.ball-text {
  color: white;
  text-align: center;
  margin: auto;
}